body {font:18px 'Source Sans Pro', sans-serif; background:#eee; height:100%; margin:70px 0; padding:0}

div.header {
    z-index:1;
    width:100%;
    height:60px;
    display:block;
    position:fixed;
    /*
    position:absolute;
    */
    top:0;
    left:0;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

div.card {margin: auto; background:white; width: 600px; height: 70px; vertical-align: top; margin-top:5px; margin-bottom:5px; padding: 10px; position: relative}
/* font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 18px} */

div.search {margin: auto; width: 600px; height:100%;vertical-align:middle }
div.search img {margin:5px}
div.search form {display:inline-block;}

div.searchcloud {
    background:white;
    padding: 5px;
    min-height: 160px;
}

a.subscribe {font-size:0.8em;}
div.subscribe {display:none}

div.card img.thumbnail {float:right; margin-left:5px;margin-bottom:5px;height:70px}
div.card a {
    text-decoration:none; font-weight: normal; color:#aaa;
}
div.card a.showSummary {
    font-size: 0.8em;
    float:right;
}
div.card div.article {
    max-height: 52px;
    overflow: hidden;
    
    /* "transparent" only works here because == rgba(0,0,0,0) */ 
    /*background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, black));
    -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, rgba(255,0,0,0)),
  color-stop(1, rgba(255,0,0,100)));
        background-image: -webkit-linear-gradient(top, transparent, black);
        background-image: -moz-linear-gradient(top, transparent, black);
        background-image: -ms-linear-gradient(top, transparent, black);
        background-image: -o-linear-gradient(top, transparent, black);
    */
}
div.card div.content {height: 150px; overflow:scroll; display:none}
div.card div.site {font: italic 16px 'Roboto'; position: absolute; bottom: 10px;}
